@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Inter font globally */
@layer base {
  body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    @apply bg-background text-foreground; /* Ensure proper background and text color */
  }

  :root {
    --background: #ffffff; /* Light background color */
    --primary: #22297C;    /* Primary color */
    --secondary: #FFD101;  /* Secondary color */
    --radius: 0.5rem;      /* Border radius */
  }

  .dark {
    --background: #22297C; /* Dark background color */
    --foreground: #ffffff; /* Light text color for dark mode */
    --primary: #22297C;    /* Light primary color for dark mode */
    --secondary: #FFD101;  /* Dark secondary color for dark mode */
  }
}

/* Navigation Styles */
.nav-link {
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 1rem 2rem 1rem 2rem;
}

.nav-link:hover {
  color: var(--primary); /* Hover color */
  transform: scale(1.1); /* Slightly enlarge the link on hover */
}

.nav-link.active {
  color: var(--primary); /* Active color */
  border-bottom: 2px solid var(--primary); /* Underline active link */
}

.buttons {
  width: 120px;
  height: 50px;
}
